.venv

# Terraform
.terraform/
.terraform.lock.hcl
*.tfplan
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/modules
.terraform/plugins

# Entorno virtual
venv/
env/

# Variables de entorno
.env

# Archivos de base de datos
*.db
*.sqlite3

# Cache de Python
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db