# Database Configuration
DATABASE_URL=postgresql://travelhub_user:travelhub_password@postgres:5432/inventario_db

# Flask Configuration
FLASK_APP=main:app
FLASK_ENV=development

# JWT
JWT_SECRET_KEY=supersecretkey

# Port
FLASK_PORT=3000
